{{> header}}
{{> navigation}}
<div class="container mt-3">
    <div class="row">
        <div id="faqContent" class="col-md-12">
            <div class="card card-kiosk-default">
                <div class="card-header">
                    <h3> {{{knowledgebase}}}</h3>
                </div>
                <div class="card-body">
                    {{#public}}
                    <div class="alert alert-danger">
                        {{{faq_instructions}}}
                    </div>
                    {{/public}}
                    <form id="faqForm">
                        <div class="form-group">
                            <div class="form-label" id="lastName">{{{faq}}}</div>
                            <input type="text" class="form-control" id="q" placeholder="{{{search}}}">
                        </div>

                        <button id="btnSubmit" type="button" class="btn btn-outline-primary">{{{submit}}}</button>
                        <button id="btnReset" type="button" class="btn btn-outline-danger">{{{reset}}}</button>
                    </form>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div id="faqData"></div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h3>{{{popular_searches}}}</h3>
                            <div id="popularSearches">
                                <ul class="list-group">
                                    {{#popular}}
                                    <li class="list-group-item">
                                        <a href='javascript:void(0);' class='openFaq' data-id='{{id}}' data-lang='{{lang}}'>{{question}}</a>
                                        <div class='card answer-{{id}} answer'>
                                            <div class='card-body'>
                                                <div class='answer-{{id}}-content'>
                                                </div>
                                            </div>
                                        </div>                                            
                                    </li>
                                    {{/popular}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer_scripts}}
<input type="hidden" id="faqHost" value="{{{faqHost}}}">
<script src="js/faq.js"></script>
{{> footer}}


