{{> header}}
{{> navigation}}
<!--{{> page_title}}-->
<div class="container mb-5">
    <div class="row mt-3">
        <div class="col-md-4 col-sm-1 col-kiosk mb-2">
            <a href="{{{finding_classroom_link}}}" title="{{{finding_classroom_link_help}}}">
                <div class="card card-kiosk">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="kiosk-body">
                            <i class="fas fa-map-signs icon-large"></i>
                            <h3>{{{finding_classroom}}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>  
        <div class="col-md-4 col-sm-1 col-kiosk mb-2">
            <a href="{{{it_help_link}}}" title="{{{it_help_link_help}}}">
                <div class="card card-kiosk">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="kiosk-body">
                            <i class="fas fa-laptop-medical icon-large"></i>
                            <h3>{{{it_help}}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-1 col-kiosk mb-2">
            <a href="{{{academic_services_link}}}" title="{{{academic_services_link_help}}}">
                <div class="card card-kiosk">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="kiosk-body">
                            <i class="fas fa-graduation-cap icon-large"></i>
                            <h3>{{{academic_services}}}</h3>
                            {{{coming_soon}}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="row mt-3 kiosk-row">
        <div class="col-md-6 col-sm-1 col-kiosk mb-2">
            <a href="{{{finding_my_way_link}}}" title="{{{finding_my_way_link_help}}}">
                <div class="card card-kiosk">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="kiosk-body">
                            <i class="fas fa-map-marked-alt icon-large"></i>
                            <h3>{{{finding_my_way}}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>      
        <div class="col-md-6 col-sm-6 col-kiosk mb-2">
            <a href="{{{finding_a_person_link}}}" title="{{{finding_a_person_link_help}}}">
                <div class="card card-kiosk">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="kiosk-body">
                            <i class="fas fa-users icon-large"></i>
                            <h3>{{{finding_a_person}}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>        
    </div>
</div>
{{> footer_scripts}}
{{> footer}}


