<nav class="navbar navbar-expand navbar-light bg-white topbar  static-top shadow">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a href="{{{wwwroot}}}/{{{page}}}?lang={{{lang}}}" class="btn btn-lg btn-outline-primary">{{{language}}}</a>
    </div>
</nav>


