<nav class="navbar navbar-expand navbar-light bg-white topbar  static-top shadow bottom-shadow">
    <img src="{{{wwwroot}}}/images/logo.png" class="img-fluid" alt="Logo - Gelendon York University">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        {{#pageType}}<span class="pageSubTitle mr-2">{{{slogan}}}</span>{{/pageType}} 
        {{^pageType}}<span class="mr-2"><a href="{{{wwwroot}}}?lang={{{currentLanguage}}}" class="btn btn-outline-primary btn-lg"><i class="fas fa-home"></i></a></span>{{/pageType}}
        <a href="{{{wwwroot}}}/{{{page}}}?lang={{{lang}}}" class="btn btn-lg btn-outline-primary">{{{language}}}</a>
    </div>
</nav>


