<div class="container-fluid white-bg">
    <div class="row">
        <div class="col mb-2 mt-4 pageTitle">
            <img src="{{{wwwroot}}}/images/glendon_yorku_165_90.png" class="img-fluid" alt="Logo - Gelendon York University">
            <span class="ml-5">{{{self_serve_kiosk}}}</span> 
            <span class="pageSubTitle ml-5">{{{slogan}}}</span>
        </div>
    </div>
</div>


