<div class="container-fluid white-bg bottom-shadow">
    <div class="row">
        <div class="col mb-2 mt-4 pageTitle">
            <img src="{{{wwwroot}}}/images/logo.png" class="img-fluid" alt="Logo - Gelendon York University">          

        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <span class="pageSubTitle">{{{slogan}}}</span>
        </div> 
    </div>
</div>


