{{> header}}
{{> navigation}}
<div class="container mt-3">
    <div class="row">
        <div id="qlessContent" class="col-md-12">
            <a href="javascript:void(0);" id="password">Change password</a>
        </div>
    </div>
</div>
{{> footer_scripts}}
{{> footer}}